:root {
  --input-color: #99a3ba;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: #275efe;
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #eef4ff;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678efe;

  font-family: "Roboto", sans-serif;
}
* {
  font-size: 16px;
}
a {
  list-style: none;
  text-decoration: none;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
li a {
  color: black;
}
p {
  margin: 0;
}
/* form */
